<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex, nofollow">
    <title>{{ application.name }}</title>
    <!-- JQUERY INIT -->
    <script src="http://code.jquery.com/jquery-2.1.0.min.js" type="text/javascript"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <style>
        .more {
            color: #ff961f;
        }

        .yes {
            color: yellowgreen;
        }

        .no {
            color: red;
        }

        .second {
            position: relative;
            right: 10px;
        }

        #add-hobby {
            font-size: 1.2em;
            margin-left: 5px;
            cursor: pointer;
        }

        #city {
            width: 20%;
        }

        #home_users h4:first-of-type {
         margin-top: 10px;
        }

        #home_users .glyphicon {
            font-size: 0.6em;
            vertical-align: middle;
        }

        .profil-details {
            display: none;
        }

        .displayed {
            display: block;
        }

        #company {
            width: 20%;
        }

        #hobbies-container {
            margin-bottom: 10px;
            width: 30%;
        }

        #wall-messages-profile {
            border: 1px solid #ffa500;
            padding: 10px 20px 10px 20px;
            margin-bottom: 10px;
        }

        #general-description-profile {
            border: 1px solid #6495ed;
            padding: 10px 20px 10px 20px;
            margin-bottom: 10px;
        }

        #hobbies-profile {
            border: 1px solid #00fa9a;
            padding: 10px 20px 10px 20px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>

{% include 'navbar.twig' %}
{% block content %}
    CONTENT
{% endblock %}
<!-- Scripts -->
<script type="text/javascript" src="assets/js/script.js"></script>
</body>
</html>