{% extends "layout.twig" %}
{% block content %}
<div class="container">
    <form role="form" action="../../index.php?action=index" method="post">
        <div class="form-group">
            <label for="login">Login</label>
            <input type="text" class="form-control"  name="login" id="login" required />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password" required />
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-default" name="send" id="send" value="Send" />
        </div>
    </form>
    {% if error_log == true %}
    <div class="bg-danger" style="padding: 10px; text-align: center">
        <p class="text-danger" style="margin: 0">Vous n'avez pas renseigné les bons logins</p>
    </div>
    {% endif %}
</div>
{% endblock content %}