{% extends "layout.twig" %}
{% block content %}
    <div class="container">

        <div class="container">
            <h1>Profile de {{ user_name.getLogin() }}</h1>
        </div>

        <div class="container">
            <table class="table">
                <tr>
                    <th>id</th>
                    <th>message</th>
                    <th>user</th>
                </tr>
                {% for message in messages %}
                    <tr>
                        <td>{{ message.getId() }}</td>
                        <td>{{ message.getContent() }}</td>
                        <td>@{{ message.getUserLogin() }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <form role="form" action="profile" method="post">
            <div class="form-group">
                <p>Type your message :</p>
                <textarea class="form-control" name="message" id="message" rows="3"></textarea>
            </div>
            <div class="form-group">
                <input type="reset" class="btn btn-default" name="reset" id="reset" value="Reset" />
                <input type="submit" class="btn btn-default" name="send" id="send" value="Send" />
            </div>
        </form>
		<p id="carac_count"></p>
		{% if error_type is defined and error_type == true %}
			<p class="alert alert-danger">Votre message est <strong>vide</strong> ou dépasse les <strong>140 caractères autorisés</strong> !</p>
		{% endif %}
    </div>
	<script type="text/javascript">
		var form = document.getElementById('message'),			
			count_field = document.getElementById('carac_count');
		
		form.onkeyup = function() {
			form_length = form.value.length;
			count_field.innerHTML = form_length+' caractères';
			if(form_length > 140) {
				count_field.style.color = "red";
			} else {
				count_field.style.color = "black";
			}
		}
	</script>
{% endblock content %}