{% extends "layout.twig" %}
{% block content %}
<div class="container">
    <form role="form" action="../../index.php?action=login" method="post">
        <div class="form-group">
            <label for="login">Login</label>
            <input type="text" class="form-control"  name="login" id="login" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password" />
        </div>
        <div class="form-group">
            <label for="confirm">Confirmer</label>
            <input type="password" class="form-control" name="confirm" id="confirm" />
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" name="email" id="email" />
        </div>
        <div class="form-group">
            <input type="reset" class="btn btn-default" name="reset" id="reset" value="Reset" />
            <input type="submit" class="btn btn-default" name="send" id="send" value="Send" />
        </div>
    </form>
</div>
{% endblock content %}